# Set the root folder
root_folder=/opt/git_ws/YG/repos/GolanSoft/main/Apps/Connectivity

# Check connectivity to Google DNS server. Run every minute
* * * * * ${root_folder}/ping_google_DNS_server.py

# Summerize the daily connectivity checker. Run daily at 23:59
59 23 * * * ${root_folder}/daily_ping_summary.py
